// Text truncate
// Requires inline-block or block for proper styling

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// @each $color, $value in theme-colors {
//   @include text-emphasis-variant(".text-#{color}", $value, true);
// }
// @each $color, $value in colors {
//   @include text-emphasis-variant(".text-#{color}", $value, true);
// }
// @each $color, $value in grays {
//   @include text-emphasis-variant(".text-gray-#{color}", $value, true);
// }